@import "../../styles/dimensions.module.scss";
@import "../../styles/mixins.scss";

.collapseCard {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;
}

.collapse {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.title {
  font-size: medium;
  font-weight: 700;
}

.group {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $negative-space;

  @include medium-screen(43rem) {
    grid-template-columns: 1fr 1fr;
  }

  @include large-screen(86rem) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  column-gap: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
