@use '../../../styles/dimensions.module.scss';

.progressChart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: dimensions.$negative-space;
}

.progress {
  width: 100%;
  height: 0.75rem;
  background-color: #eee; // background
}

// WebKit-Browser (Chrome, Edge, Safari)
progress::-webkit-progress-bar {
  background-color: #eee; // background
}

progress::-webkit-progress-value {
  background-color: var(--fillColor);
}

/* Für Firefox */
progress::-moz-progress-bar {
  background-color: var(--fillColor);
}
