@import "../../styles/mixins.scss";

.dashboard {
  position: sticky;
  top: 0;
  z-index: 100;
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  @include page-padding;
}
