@import "../../../styles/mixins.scss";
@import "../../../styles/dimensions.scss";

.eventInstanceItem {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.banner {
  width: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @include medium-screen {
    flex-direction: row;
    column-gap: 2rem;
  }
}

.title {
  width: 20rem;
  font-size: large;
  font-weight: 500;
}

.weekday {
  width: 4rem;
  font-size: large;
  font-weight: 400;
  align-self: center;
}

.timeContainer {
  display: flex;
  flex-direction: row;
}

.dateTimeContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  padding: $negative-space;

  @include medium-screen {
    flex-direction: row;
    column-gap: 2rem;
    padding: 0rem;
  }
}
