@use "../../../styles/colors.module.scss";
@use "../../../styles/mixins.scss";

.gradingItem {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include mixins.medium-screen {
    margin-right: 20rem;
  }
}

.grade {
  color: colors.$color-text;
  font-weight: 700;
  font-size: large;
  font-family: "MerriweatherSans";
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.details {
  display: grid;
  grid-template-columns: auto 1fr;
  color: colors.$color-grading-item-examiner-text;
  column-gap: 1rem;
}

.detailValue {
  font-weight: 600;
}
