@use "../../../styles/colors.module.scss";

.gradingItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.beltAndDate {
  position: relative;
}

.belt {
  width: 10rem;
}

.date {
  font-family: "MerriweatherSans";
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  row-gap: 2.7rem;
}

.year {
  font-weight: 700;
  font-size: large;
}

.monthAndDay{
  display: flex;
  flex-direction: row;
  column-gap: 0.3rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: colors.$color-text;
  font-weight: 500;
  font-size: large;
  font-family: "MerriweatherSans";
  letter-spacing: 0.1rem;
}

.examiners {
  color: colors.$color-grading-item-examiner-text;
}

.deleteIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}