.toolbar {
  margin-bottom: 1rem;
}

.input {
  display: none;
}

.image {
  width: 100%;
}

.selectImageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
