@import "../../styles/colors.module.scss";
@import "../../styles/mixins.scss";

.appointmentForm {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  padding-bottom: 1rem;

  @include medium-screen {
    width: 18rem;
  }
}

.dateTime {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  @include medium-screen {
    flex-direction: row;
    justify-content: space-between;
  }
}
