@use "../../../styles/colors.module.scss";

.registerButton {
  align-self: flex-end;
}

.unregisterButton {
  background-color: colors.$color-event-my-trainings-button-registered;

  &:hover {
    background-color: colors.$color-event-my-trainings-button-registered;
  }
}
