$color-primary: #893f61;
$color-primary-dark: #742053;
$color-primary-light: #b492a0;
$color-secondary: #687857;
$color-secondary-light: #acae9b;
$color-copy: white;
$color-error: #d95f59;
$color-success: rgba(63, 150, 13, 0.493);
$color-hover: lighten($color-secondary, 0.5);
$color-enabled: black;
$color-disabled: rgba(211, 211, 211, 0.63);
$box-shadow: 8px 8px 8px $color-disabled;
$color-accent: #e1a847;

$color-tab-selected: $color-secondary-light;
$color-tab-unselected: white;

$color-button-text: white;

$color-grade-dan: hsl(0, 0%, 13%);
$color-grade-kup1: #d92626;
$color-grade-kup2: #d92626;
$color-grade-kup3: #2626d9;
$color-grade-kup4: #2626d9;
$color-grade-kup5: #136c13;
$color-grade-kup6: #136c13;
$color-grade-kup7: #e6e619;
$color-grade-kup8: #e6e619;
$color-grade-kup9: rgb(241, 241, 241);

:export {
  colorAccent: $color-accent;
  colorDisabled: $color-disabled;
  colorPrimary: $color-primary;
  colorPrimaryDark: $color-primary-dark;
  colorPrimaryLight: $color-primary-light;
  colorSecondary: $color-secondary;
  colorSecondaryLight: $color-secondary-light;
}
