@import "../styles/colors.module.scss";
@import "../styles/mixins.scss";
@import "../styles/dimensions.module.scss";

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.pageDescription {
  font-weight: 600;
}

.icon {
  @include hoverIcon;
  fill: $color-icon;
}

.clickableIcon {
  cursor: pointer;
  @extend .icon;
}

.disabledIcon {
  fill: $color-icon-disabled;
}

.secondaryButton {
  background-color: transparent;
  outline: $color-secondary-button solid 1px;
  color: $color-secondary-button;

  &:hover {
    background-color: transparent;
    outline: $color-secondary-button solid 1px;
    color: $color-secondary-button;
  }
}

.dan {
  color: $color-grade-dan;
}

.danHalf {
  fill: transparent;
}

.infoIcon {
  color: $color-icon-info;
}

.kup1 {
  color: $color-grade-kup1;
}

.kup1Half {
  fill: $color-grade-dan;
}

.kup2 {
  color: $color-grade-kup2;
}

.kup2Half {
  fill: transparent;
}

.kup3 {
  color: $color-grade-kup3;
}

.kup3Half {
  fill: $color-grade-kup2;
}

.kup4 {
  color: $color-grade-kup4;
}

.kup4Half {
  fill: transparent;
}

.kup5 {
  color: $color-grade-kup5;
}

.kup5Half {
  fill: $color-grade-kup4;
}

.kup6 {
  color: $color-grade-kup6;
}

.kup6Half {
  fill: transparent;
}

.kup7 {
  color: $color-grade-kup7;
}

.kup7Half {
  fill: $color-grade-kup6;
}

.kup8 {
  color: $color-grade-kup8;
}

.kup8Half {
  fill: transparent;
}

.kup9 {
  color: $color-grade-kup9;
}

.kup9Half {
  fill: $color-grade-kup8;
}

.kupOutline {
  stroke: $color-grade-outline;
}

.kup9Outline {
  stroke: $color-grade-kup9-outline;
}

.preLoginLayout {
  @include component-padding;

  @include medium-screen {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
  }

  @include large-screen {
    width: 30rem;
  }
}
