$negative-space: 0.5rem;
$list-no-entries-message: 1rem;
$appointment-form-medium-screen-width: 25rem;
$appointment-form-large-screen-width: 35rem;
$medium-screen-min-width: 28;
$medium-screen-min-width-in-rem: $medium-screen-min-width + rem;
$large-screen-min-width: 64;
$large-screen-min-width-in-rem: $large-screen-min-width + rem;
$button-padding: 0.5rem 1rem;

:export {
  mediumScreenMinWidth: $medium-screen-min-width;
  largeScreenMinWidth: $large-screen-min-width;
}