@use "./dimensions.module.scss";
@use "./colors.module.scss";

@mixin medium-screen {
  @media (min-width: dimensions.$medium-screen-min-width-in-rem) {
    @content;
  }
}

@mixin large-screen {
  @media (min-width: dimensions.$large-screen-min-width-in-rem) {
    @content;
  }
}

@mixin hoverIcon {
  &:hover {
    fill: colors.$color-hover;
  }
}

@mixin hoverButton {
  &:hover {
    background-color: colors.$color-hover;
    @content;
  }
}

@mixin glassy {
  background-color: transparentize(
    $color: colors.$color-backdrop,
    $amount: 0.4
  );
  backdrop-filter: blur(2px);
}
