@font-face {
    font-family: "MerriweatherSans";
    src: url('../fonts/MerriweatherSans/MerriweatherSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "MerriweatherSans";
    src: url('../fonts/MerriweatherSans/MerriweatherSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "MerriweatherSans";
    src: url('../fonts/MerriweatherSans/MerriweatherSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "MerriweatherSans";
    src: url('../fonts/MerriweatherSans/MerriweatherSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "MerriweatherSans";
    src: url('../fonts/MerriweatherSans/MerriweatherSans-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "MerriweatherSans";
    src: url('../fonts/MerriweatherSans/MerriweatherSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "MerriweatherSans";
    src: url('../fonts/MerriweatherSans/MerriweatherSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "MerriweatherSans";
    src: url('../fonts/MerriweatherSans/MerriweatherSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "MerriweatherSans";
    src: url('../fonts/MerriweatherSans/MerriweatherSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "MerriweatherSans";
    src: url('../fonts/MerriweatherSans/MerriweatherSans-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: "MerriweatherSans";
    src: url('../fonts/MerriweatherSans/MerriweatherSans-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}