@import "../../styles/dimensions.module.scss";
@import "../../styles/colors.module.scss";
@import "../../styles/mixins.scss";
@import "../../styles/components.module.scss";

.login {
  @extend .preLoginLayout;
}

.loginCard {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;
  padding: 1rem;
}

.headline {
  margin-bottom: 0;
}

// .register {
//   display: flex;
//   flex-direction: row;
//   background-color: transparent;
//   border: 0;
//   outline: none;
//   color: white;
//   justify-content: right;

//   &:hover {
//     cursor: pointer;
//   }
// }

.successMessage {
  background-color: $color-success;
  color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  column-gap: $negative-space;
  justify-content: right;
}