@use "../../../styles/dimensions.module.scss";
@use "../../../styles/colors.module.scss";

.passwordRequirement {
  display: flex;
  flex-direction: row;
  column-gap: dimensions.$negative-space;
}

.iconContainer {
  width: 1.5rem;
  height: 1.5rem;
}

.icon {
  fill: colors.$color-icon-checked;
  height: 1.5rem;
}

.title {
  color: colors.$color-text-password-requirement;
}

.fulfilled {
  text-decoration: line-through;
  @extend .title;
}
