@import "../../styles/colors.module.scss";
@import "../../styles/mixins.scss";

.search {
  display: flex;
  flex-direction: row;
}

.input {
  font-size: large;
  width: 10rem;

  @include medium-screen {
    width: auto;
  }
}

.icon {
  fill: $color-search-button-text;
}