@use "../../styles/colors.module.scss";
@use "../../styles/mixins.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  background-color: colors.$color-tabstrip-background;
  margin-top: 0.1rem;
  height: 2.5rem;

  @include mixins.medium-screen {
    height: 4rem;
  }

}