@import "../../../styles/colors.module.scss";
@import "../../../styles/dimensions.module.scss";
@import "../../../styles/mixins.scss";

.eventDefinitionDetails {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;

  @include medium-screen {
    width: $appointment-form-medium-screen-width;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: 3rem;
  height: 3rem;
  outline: none;
  border: none;
}

.button0 {
  background-color: $color-primary-light;
  @extend .button;
}

.button1 {
  background-color: $color-primary;
  @extend .button;
}

.button2 {
  background-color: $color-primary-dark;
  @extend .button;
}

.button3 {
  background-color: $color-secondary-light;
  @extend .button;
}

.button4 {
  background-color: $color-secondary;
  @extend .button;
}

.selectedButton {
  border: 3px solid black;
}
