@use "../../../styles/colors.module.scss";
@use "../../../styles/dimensions.module.scss";

.pageFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: dimensions.$negative-space;
  height: 3rem;
  background-color: colors.$color-page-footer-background;
  margin-top: 1rem;
  color: colors.$color-page-footer;
}

.imprintAndPrivacyPolicy {
  display: flex;
  flex-direction: row;
  column-gap: dimensions.$negative-space;
}

.link {
  color: colors.$color-page-footer;
}

.version {
  cursor: pointer;
  margin-right: 1rem;
}
