@use "../../../styles/components.module.scss";

.description {
  @extend .pageDescription;
}

.button {
  align-self: flex-start;
}

.eventCalendar {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.infoArea {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
