@use "../../../styles/dimensions.module.scss";

.eventContent {
  display: flex;
  flex-direction: row;
  column-gap: dimensions.$negative-space;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 0.5rem;
}

.title {
  font-size: large;
  margin: 0;
}

.description {
  font-style: italic;
}
