@import "../../styles/colors.module.scss";

.eventContent {
  height: 100%;
  justify-content: space-between;
}

.registerButton {
  background-color: white;
  outline: none;
  border: none;
  color: $color-primary;
  align-self: flex-end;
  &:hover {
    background-color: white;
    outline: none;
    border: none;
    color: $color-primary;
  }
}
