@import "../../..//styles/variables.scss";

.userProfile {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
