@import "../../../styles/dimensions.scss";

.userProfile {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gradingGroup {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
