@use "../../../styles/mixins.scss";
@use "../../../styles/dimensions.module.scss";
@use "../../../styles/colors.module.scss";

.eventRegistrationItem {
  display: flex;
  flex-direction: column;
}

.eventRegistrationItemContent {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.manuallyAddedSection {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
}

.addedByTrainerInfo {
  font-style: italic;
  align-self: end;
}

.giftContainer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: dimensions.$negative-space;

  @include mixins.medium-screen {
    justify-content: left;
  }
}

.gift {
  width: 2rem;
  height: auto;
}

.icon {
  fill: colors.$color-text-light;
}

.nameAndToolbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
