.eventRegistrationItem {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: large;
  font-weight: 500;
  width: 10rem;
}
