$border-radius: 10px;

.progressChart {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress {
  width: 8rem;
  height: 0.75rem;
  border-radius: $border-radius;
  background-color: #eee; // background
}

// WebKit-Browser (Chrome, Edge, Safari)
progress::-webkit-progress-bar {
  background-color: #eee; // background
  border-radius: $border-radius;
}

progress::-webkit-progress-value {
  background-color: var(--fillColor);
  border-radius: $border-radius;
}

/* Für Firefox */
progress::-moz-progress-bar {
  background-color: var(--fillColor);
  border-radius: $border-radius;
}
