@use "../../../../styles/colors.module.scss";
@use "../../../../styles/dimensions.module.scss";

.userProfileImage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

.image {
  cursor: pointer;
  border-radius: 50%;
}

.imageOriginal {
  width: dimensions.$user-profile-image-size-original;
  height: dimensions.$user-profile-image-size-original;
  @extend .image;
}

.imageThumbnail {
  width: dimensions.$user-profile-image-size-thumbnail;
  height: dimensions.$user-profile-image-size-thumbnail;
  @extend .image;
}
