@use "../../styles/dimensions.module.scss";
@use '../../styles/components.module.scss';

.changePassword {
    @extend .preLoginLayout;
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: dimensions.$negative-space;
    padding: 1rem;
}

.headline {
    margin-bottom: 0;
}

.toolbar {
    align-self: end;
}