@import "../../styles/colors.module.scss";

.selected {
  border: none;
  background-color: $color-toggle-button-background-selected;
}

.unselected {
  border: none;
  background-color: $color-toggle-button-background-unselected;

  &:hover {
    cursor: pointer;
    background-color: $color-toggle-button-background-unselected;
  }
}