@use "../../../../styles/colors.module.scss";
@use "../../../../styles/dimensions.module.scss";

.userProfileImageSkeleton {
  border-radius: 50%;
  background-color: colors.$color-disabled;
}

.userProfileImageSkeletonOriginal {
  width: dimensions.$user-profile-image-size-original;
  height: dimensions.$user-profile-image-size-original;
  @extend .userProfileImageSkeleton;
}

.userProfileImageSkeletonThumbnail {
  width: dimensions.$user-profile-image-size-thumbnail;
  height: dimensions.$user-profile-image-size-thumbnail;
  @extend .userProfileImageSkeleton;
}
