.eventTrialTrainingDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.email {
  grid-column: 1/3;
}

.bookingConfirmation {
  font-size: large;
  font-weight: 600;
}

.checkbox {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
