@use "../../styles/dimensions.module.scss";

.cardList {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
}

.numberEntries {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  column-gap: dimensions.$negative-space;
  font-size: medium;
  font-weight: 500;
  margin: 0;
}
