@use "../../styles/colors.module.scss";
@use "../../styles/mixins.scss";
@import "../../styles/dimensions.module.scss";

.labeledElement {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  column-gap: $negative-space;
  justify-content: space-between;
}

.label {
  @include mixins.label;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  column-gap: $negative-space;
}

.optional {
  color: colors.$color-labeled-element-optional;
}

.error {
  color: colors.$color-error;
  height: 1.25rem;
}

.infoIcon {
  width: 1.25rem;
  height: auto;
}
