@import "../../styles/dimensions.module.scss";
@import "../../styles/colors.module.scss";

.labelContainer {
  display: flex;
  flex-direction: row;
  column-gap: $negative-space;
  justify-content: space-between;
}

.labeledElement {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.label {
  font-weight: 500;
  color: $color-secondary;
}

.optional {
  color: $color-secondary-light;
}
