@use "../../styles/colors.module.scss";
@use "../../styles/mixins.scss";
@use "../../styles/dimensions.module.scss";

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: dimensions.$negative-space;
  margin: 0;
  background-color: colors.$color-button-background;
  outline: none;
  border: 0;
  font-size: medium;
  font-weight: 400;
  padding: dimensions.$negative-space;

  @include mixins.medium-screen {
    padding: dimensions.$negative-space 1rem;
  }
}

.buttonEnabled {
  color: colors.$color-text-light;

  @include mixins.hoverButton {
    cursor: pointer;
  }
}

.buttonDisabled {
  color: colors.$color-button-text-disabled;
}