@use "../../../styles/colors.module.scss";

.profileImageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editIconContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: colors.$color-secondary;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: 50%;
}

.editIcon {
  fill: white;
}
