@use "../../../styles/colors.module.scss";

.profileImageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editButton {
  position: absolute;
  bottom: 0;
  right: 0;
}
