@use "../../../styles/colors.module.scss";
@import "../../../styles/dimensions.module.scss";
@import "../../../styles/mixins.scss";

.eventDefinitionDetails {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;

  @include medium-screen {
    width: $appointment-form-medium-screen-width;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: 3rem;
  height: 3rem;
  outline: none;
  border: none;
}

.button0 {
  background-color: colors.$color-event-definition-button-background-0;
  @extend .button;
}

.button1 {
  background-color: colors.$color-event-definition-button-background-1;
  @extend .button;
}

.button2 {
  background-color: colors.$color-event-definition-button-background-2;
  @extend .button;
}

.button3 {
  background-color: colors.$color-event-definition-button-background-3;
  @extend .button;
}

.button4 {
  background-color: colors.$color-event-definition-button-background-4;
  @extend .button;
}

.selectedButton {
  border: 3px solid colors.$color-event-definition-color-selection-border;
}