@use "../../../../styles/dimensions.module.scss";
@use "../../../../styles/colors.module.scss";

.userSearchItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  fill: colors.$color-text-light;
}
