@use "../../../styles/colors.module.scss";
@use "../../../styles/mixins.scss";

.gradingList {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  color: colors.$color-text;

  @include mixins.medium-screen(70rem) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include mixins.large-screen {
    column-gap: 5rem;
  }
}

.gradingListAdmin {
  row-gap: 2rem;
}
