.collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.title {
  margin: 0;
  letter-spacing: 0.05rem;
}

.button {
  background-color: transparent;
  border: none;
}