@use "../../../styles/dimensions.module.scss";
@use "../../../styles/colors.module.scss";

.title {
  font-size: medium;
  font-weight: 500;
  margin-top: 0.5rem;
}

.search {
  margin-top: 2.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  column-gap: dimensions.$negative-space;
  margin-bottom: 1.5rem;
}

.copyLink {
  color: colors.$color-secondary-button;
}

.trainerMultiSelectList {
  margin-bottom: 1rem;
}
