@use "../../../styles/colors.module.scss";
@use "../../../styles/dimensions.module.scss";

.user {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
}

.username {
  font-family: "MerriweatherSans";
}

.gradingGroup {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.cancelButton {
  background-color: transparent;
  outline: colors.$color-primary solid 1px;
  color: colors.$color-primary;

  &:hover {
    background-color: transparent;
    outline: colors.$color-primary solid 1px;
    color: colors.$color-primary;
  }
}

.toolbar {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
  grid-column-start: 1;
  grid-column-end: 3;
}