@use "../../../styles/colors.module.scss";
@use "../../../styles/dimensions.module.scss";
@use "../../../styles/mixins.scss";

.user {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
}

.username {
  font-family: "MerriweatherSans";
}

.gradingGroup {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.joinedOnReadonly {
  color: colors.$color-text;
}

.toolbar {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
  grid-column-start: 1;
  grid-column-end: 3;

  @include mixins.medium-screen {
    flex-direction: row;
  }
}

.lastInvitedAt {
  grid-column-start: 1;
  grid-column-end: 3;
}

.lastInvitedAtLabel {
  @include mixins.label;
}

.lastInvitedAtValue {
  color: colors.$color-text;
}
