@import "../../styles/colors.module.scss";

.select {
  font-size: large;
  padding: 0.5rem;
}

.selectDisabled {
  color: $color-labeled-select-disabled;
}

.error {
  border: 1px solid $color-error;
}