@use "../../../styles/colors.module.scss";
@use "../../../styles/dimensions.module.scss";

.profileImageSkeleton {
  border-radius: 50%;
  background-color: colors.$color-disabled;
}

.profileImageSkeletonOriginal {
  width: dimensions.$user-profile-image-size-original;
  height: dimensions.$user-profile-image-size-original;
  @extend .profileImageSkeleton;
}

.profileImageSkeletonThumbnail {
  width: dimensions.$user-profile-image-size-thumbnail;
  height: dimensions.$user-profile-image-size-thumbnail;
  @extend .profileImageSkeleton;
}
