@import "../../../styles/dimensions.module.scss";

.gradingSection {
  display: flex;
  flex-direction: column;
  row-gap: $negative-space;
}

.card {
  padding: 1rem;
}

.addGradingTitle {
  margin: 0;
  margin-bottom: 1rem;
}
