@use "../../../styles/dimensions.module.scss";
@use "../../../styles/colors.module.scss";

.multiSelectList {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
  width: 100%;
}

.addButton {
  justify-self: center;
  align-self: flex-start;
}

.addIcon {
  fill: colors.$color-search-button-text;
}
