@import "../../../styles/colors.module.scss";
@import "../../../styles/dimensions.module.scss";

.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: $color-primary;
}

.right {
  justify-self: right;
  margin-right: $negative-space;
}

.appLogo {
  cursor: pointer;
  fill: white;
  width: 10rem;
  height: 5rem;
  margin-left: $negative-space;
}
