@use "../../../styles/colors.module.scss";
@use "../../../styles/dimensions.module.scss";
@use "../../../styles/mixins.scss";

.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: colors.$color-page-header-background;
}

.right {
  display: flex;
  flex-direction: column;
  row-gap: dimensions.$negative-space;
  align-items: end;
  margin-right: dimensions.$negative-space;

  @include mixins.medium-screen {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
}

.appLogo {
  cursor: pointer;
  fill: colors.$color-app-logo;
  width: 10rem;
  height: 5rem;
  margin-left: dimensions.$negative-space;
}
