@use "../../../styles/colors.module.scss";
@use "../../../styles/mixins.scss";

.navigation {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: colors.$color-navigation-background;
}

.burgerMenuAndTabStrip {
  position: relative;
}

.burgerMenu {
  position: absolute;
  top: 0.25rem;
  left: 0.2rem;
}
