@use "../../../styles/mixins.scss";
@use "../../../styles/colors.module.scss";

.card {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.userProfileItem {
  cursor: pointer;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
  color: colors.$color-text;

  @include mixins.medium-screen(45rem) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}

.locked {
  background-color: colors.$color-user-deactivated-background;
  color: colors.$color-user-deactivated-text;
}

.group {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: large;
}