@use "../../../styles/mixins.scss";
@use "../../../styles/colors.module.scss";
@use "../../../styles/components.module.scss";

.card {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.userProfileItem {
  cursor: pointer;
  display: grid;
  grid-template-rows: 1fr auto auto;
  padding: 1rem;
  color: colors.$color-text;
  width: 100%;

  @include mixins.medium-screen(45rem) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr auto;
    align-items: center;
  }
}

.locked {
  background-color: colors.$color-user-deactivated-background;
  color: colors.$color-user-deactivated-text;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: large;
}

.trainerIconSmallScreen {
  @extend .trainerIcon;

  @include mixins.medium-screen(45rem) {
    display: none;
  }
}

.trainerIconMediumScreen {
  @extend .trainerIcon;
  display: none;

  @include mixins.medium-screen(45rem) {
    display: block;
  }
}

.trainerHidden {
  visibility: hidden;
}
