@import "../../../styles/core/mixins.scss";
@import "../../../styles/core/colors.module.scss";

.userProfileItem {
  cursor: pointer;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  @include medium-screen {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.selected {
  background-color: $color-secondary-light;
}

.group {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: large;
}

.address {
  font-size: medium;
}
